page-login {

  #login-page{
    background-color: black;
  }

  #login-card{
    margin-top: 60px;

  }

  #login-form{
    border-radius: 15px 15px 15px 15px;
  }


  #login-form ion-item {
    color: #C6E947;
    font-weight: bold;
  }


  #connect-btn {
    display: block;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #C6E947;
    color: #C6E947;
    margin: 10px auto;
  }

  #login-form ion-input{
    color: #000000;
  }
  #login-form {
    background-color: #000000;
    color: #C6E947;
  }

  #buttons {
    font-weight: bold;

  }





}
