page-login {

  #login-page{
    background-color: black;
  }



  #login-form ion-item {
    background-color: #515151;;
    color: #C6E947;
  }

  #login-form button{
    display: block;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #C6E947;
    color: #C6E947;
    margin: 10px auto;
  }

  #login-form ion-input{
    color: #000000;
  }
  #login-card {
    background-color: #000000;
    color: #C6E947;
  }

  #login-field {
    border-radius: 15px;
  }

  #buttons {
    font-weight: bold;

  }





}
