page-opp-detail {

  #event-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

#event-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

#event-info p {
  color: #697072;
  text-align: left;
}

#event-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}


#event-info {
  text-align: center;
}

#event-info ion-icon {
  width: auto;
  margin-right: 10px;
}


}
