page-article {

  #article-img{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #454545;
    height: 200px;
    //background: url(https://firebasestorage.googleapis.com/v0/b/bvweb-5da6d.appspot.com/o/BlackValley-33.jpg?alt=media&token=8e3db19e-ba31-486b-bb35-0f450fd2ac2a);

  }

  #article {
    margin-top: 200px;
  }

  #article-content{

  }

}
