page-profile {

  ion-content {
          position: relative;
          background-color: white;
          box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
          padding-top: 10px;

        }

  #profile-card{
    margin-top: 150px;

  }


#profile-img {
  border-radius: 80px;
  border: 3px solid #000000;
  margin: 10px 0 0 85px;
  width: 140px;
  height: 120px;
}

#profile-info {
  display: block;
  text-align: center;
}

#profile-back {
  position: fixed;
  left: 0;
  top: 0;
  background-color: lightgray;
  width: 100%;
  min-height: 150px;
  margin-top: 70px;
  background: url('http://study.com/cimages/course-image/ap-physics-2-textbook_167654_large.jpg') no-repeat transparent;

#profile-btn {
  display: block;
  margin-top: 80px;

}

}

}
