page-profile {

  ion-content {
          position: relative;
          background-color: white;
          padding-top: 10px;
          color: white;

        }

  #profile-card{
    margin-top: 150px;

  }


#profile-img {
  border: 3px solid #FFFFFF;
  border-radius: 80px;
  margin: 5px;
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#back-img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

#profile-info {
  text-align: center;
  margin-top: 180px;
  z-index: -2;
}

#profile-back {
  position: fixed;
  top: 5px;
  left: 0px;
  background-color: lightgray;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  min-height: 220px;
  margin-top: 50px;
  color: #FFFFFF;

}

#profile-back h2 {


}

#edits{
  margin-top: 300px;
}

#profile-btn {
  display: block;
  margin-top: 80px;

}

#profile-description{
  p {
    color: white;
  }
}



}
