page-profile {
  background-color: lightgray;

  ion-content {
          position: relative;
          background-color: white;
          box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
          padding-top: 10px;
        }

  #profile-card{
    margin-top: 150px;
  }


#profile-img {
  border-radius: 80px;
  border: 3px solid #000000;
  margin: 10px 0 0 80px;
  width: 140px;
  height: 120px;
}

#profile-info {

  display: block;
}

#profile-back {
  position: fixed;
  left: 0;
  top: 0;
  background-color: lightgray;
  width: 100%;
  min-height: 150px;
  margin-top: 65px;
  /*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/


#profile-btn {
  display: block;
  margin-top: 80px;

}


}


}
