
page-home {


#hp-logo {
  position: absolute;
  top: 0;
  right: 0;
   }

#card {
  box-shadow: 0 0 3px 2px #000;
  background-color: black;

  }
#card p {
  color: white;
  font-size: 12px;

}
#card img {
  border: 2px solid black;
}

#card ion-item {
  background-color: #000000;
  color: #C6E947;
}

#card ion-row {
  border-top: 1px solid #515151;
  margin: 0px 8px;
}
#card h4{
  margin: 12px 0px 0px 5px;
  color: #515151;
  text-decoration: underline;
}


#card ion-note {
  color: #000000;
}

#card button {
  padding: 15px 60px;
  color: #C6E947;
  text-align: center;
  box-shadow: 0 0 3px 1px white;
  border: 1px solid #515151;
  width: 100px;


}




}
