page-feed {

  ion-title{
    margin-left: 50px;
  }

  #feed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

  }
  #status {
    background: none;
    min-height: 30px;
    color: #C6E947;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    margin-left: 80px;
    margin-top: -60px;
    font-size: 14px;



  }

  #user-card{
    border-radius: 10px;
    border: 1px solid #000000;

  }


  #user-post {
    min-height: 90px;
    background-color: lightgray;

  }

  #user-img {
    position: absolute;
    top: 5px;
    left: 10px;
    border-radius: 80px;
    border: 3px solid #000000;
    background-color: white;
    width: 70px;
    height: 60px;

  }

  #user-info {
    position: absolute;
    left: 90px;
    top: 13px;
  }

  #user-btn {
    position: absolute;
    top: 55px;
  }

}
