// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$background-color: #515151;
$toolbar-background: #000000;
$card-ios-text-color: #ffffff;





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #515151,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #000000,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-toolbar-input-background: #515151;
$spinner-ios-ios-color: black;
$searchbar-ios-input-text-color: #C6E947;
$segment-button-ios-background-color: black;
$segment-button-ios-border-width: 1px;
$segment-button-ios-toolbar-font-size: 2rem;
$segment-button-ios-toolbar-button-max-width: 150px;
$segment-button-ios-text-color: #C6E947;
$picker-ios-toolbar-background-color: none;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$segment-button-md-text-color: #C6E947;
$searchbar-md-toolbar-input-background: #515151;
$spinner-md-ios-color: black;
$searchbar-md-input-text-color: #C6E947;
$segment-button-md-background-color: black;
$segment-button-md-border-width: 1px;
$segment-button-md-toolbar-font-size: 2rem;
$segment-button-md-toolbar-button-max-width: 150px;
$segment-button-md-text-color: #C6E947;
$picker-md-toolbar-background-color: none;





// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
