<ion-header>
  <ion-navbar>
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="signup-page">
  <img src="https://firebasestorage.googleapis.com/v0/b/bvweb-5da6d.appspot.com/o/bvlogo.PNG?alt=media&token=abb56fee-2602-4f66-9f1d-31d30f7227c0" />
  <title>Change the face Tech</title>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate id="signup-form">

    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input #fname formControlName="fname" type="fname" placeholder="Your first name"
        [class.invalid]="!signupForm.controls.fname.valid && signupForm.controls.fname.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!signupForm.controls.fname.valid  && signupForm.controls.fname.dirty">
      <p>First name must be at least two characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

  </form>



<button ion-button type="submit" (click)="createAccount()" id="connect-btn">
    Connect
</button>

</ion-content>
