page-signup {

  #signup-page{
    background: url("https://firebasestorage.googleapis.com/v0/b/bv-ionic.appspot.com/o/imageedit_10_4745385516.gif?alt=media&token=407f2ed2-8c03-4c01-a4b6-1bd3331ee22d") center;
    background-size: auto 100%;
  }

  #signup-page ion-item{
    background-color: transparent;
    color: #C6E947;
  }
  #signup-form ion-input{
  }

  #signup-card ion-datetime{
  }

  #connect-btn {
    display: block;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #C6E947;
    color: #C6E947;
    margin: 10px auto;
  }

}
